<!-- What user sees if they aren't signed in -->
<% if User.count == 0 %>

  <div class = "container-full">
    <div class = "twitter-banner-bg">
      <h1 class = "h1 center kavoon notopmargin"> Welcome to the Friend Zone! </h1>
      <p class = "h3 center lemon"> Sign in below to begin </p>

      <form class = "sign_in center" action = "/sign_in_twitter" method = "get">
        <input type = "submit" value = "" class = "sign-in-button">
      </form>
    </div>
    <div class = "twitter-blue-bg space-down">
    </div>
  </div>

<% else %>

<!-- What user sees after being authenticated -->
  <div class = "container-full center">

    <div class = "twitter-banner-bg">
      <%= form_tag "/sign_out", method: 'get', class: "sign_out" do %>
        <%= submit_tag "Sign Out", class: "button button-big button-gray button-wide right m1" %>
      <% end %>


      <div class = "center alone">
        <h1 class = "h1 kavoon"> Welcome to the Friend Zone </h1>
        <h1 class = "h1 kavoon"> (the good kind) </h1>
        <h2 class = "h2 kavoon"> Select an option below </h2>
        <button class = "button button-big button-gray button-wide" id = "analytics-toggle">Analytics</button>
        <button class = "button button-big button-gray button-wide" id = "search-toggle">Search</button>
        <div class = "space-down"></div>
      </div>

      <div class = "center alone hidden twitter-blue-bg" id = "search-area">
        <h2 class = "h2 kavoon">Enter a friend's name below, then hit Search</h2>
        <%= form_tag url_for(action: :search, method: 'post'), class: "form searchform", id: "search-form", remote: true do %>
          <%= text_field_tag 'name', nil, placeholder: "Enter screenname here", class: "search-box field-big mr1", id: "search-box", size: 50 %><br><br>
          <%= submit_tag "Search", class: "button button-big button-blue button-wide" %>
          <div class = "space-down"></div>

        <% end %>

        <div class = "twitter-blue-bg">

          <div id = "tweet-list">

          </div>

        </div>

      </div> <!-- end search-area-->

      <div class = "hidden twitter-blue-bg" id = "analytics-area">
        <h3 class = "h3 kavoon"> History </h3>
        <div id = "time-series-chart" class = "absolute-center alone width-80-perc">
        </div>

      </div> <!-- end analytics-area -->
    </div> <!-- end twitter-banner-bg -->

  </div> <!-- end container - after login -->


<% end %>
